.EnglishMuseoPage {
  .LangageChoice {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .FrancaisMuseo button {
    color: antiquewhite;
    background-color: rgba(10, 49, 84, 0.574);
    border-radius: 5px;
    font-size: 16px;
    border: solid 2px #94e2ec;
  }
  .FrancaisMuseo button:hover {
    color: #94e2ec;
    cursor: pointer;
  }
  .EnglishMuseo button {
    color: antiquewhite;
    background-color: rgba(10, 49, 84, 0.574);
    border-radius: 5px;
    font-size: 16px;
    border: solid 2px #94e2ec;
  }
  .EnglishVMuseo button:hover {
    color: #94e2ec;
    cursor: pointer;
  }
  .ItalianoMuseo button {
    color: antiquewhite;
    background-color: rgba(10, 49, 84, 0.574);
    border-radius: 5px;
    font-size: 16px;
    border: solid 2px #94e2ec;
  }
  .ItalianoMuseo button:hover {
    color: #94e2ec;
    cursor: pointer;
  }

  .Text {
    font-family: "Montserrat-Thin", Arial, sans-serif;
    font-size: 20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
  }
  .MailLink a {
    font-size: 18px;
    color: black;
    font-family: "Montserrat-ThinItalic", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .MailLink a:hover {
    color: rgb(182, 246, 115);
  }

  .FooterEmail {
    color: black;
    font-size: 20px;
  }
  .WorksButton {
    text-align: center;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .WorksButton button {
    background: rgb(182, 246, 115);
    color: rgb(190, 38, 240);
    border-radius: 5px;
    border: solid 2px orange;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .WorksButton button:hover {
    cursor: pointer;
    color: rgb(182, 246, 115);
    background: rgb(190, 38, 240);
  }
  .MusinfOne {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
  .NameVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }

  .MusinfOne iframe {
    border-radius: 10px;
    border: 5px solid #8df6b4;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  }
  .MusinfTwo {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }

  .MusinfTwo iframe {
    border-radius: 10px;
    border: 5px solid #8df6b4;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 1224px) {
    .Text {
      max-width: 100%;
      margin-left: 8px !important;
      flex-direction: column;
    }
    .MailLink a {
      font-size: 18px !important;
    }
  }

  @media (max-width: 508px) {
    .EnglishMuseoPage p {
      font-size: 16px !important;
      max-width: 100%;
      margin-left: 5px !important;
      flex-direction: column;
    }
    .MailLink a {
      font-size: 16px;
    }
  }
}
