.MuseoPage {
  .LangageChoice {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .FrancaisMuseo button {
    color: antiquewhite;
    background-color: rgba(10, 49, 84, 0.574);
    border-radius: 5px;
    font-size: 16px;
    border: solid 2px #94e2ec;
  }
  .FrancaisMuseo button:hover {
    color: #94e2ec;
    cursor: pointer;
  }
  .EnglishMuseo button {
    color: antiquewhite;
    background-color: rgba(10, 49, 84, 0.574);
    border-radius: 5px;
    font-size: 16px;
    border: solid 2px #94e2ec;
  }
  .EnglishVMuseo button:hover {
    color: #94e2ec;
    cursor: pointer;
  }
  .ItalianoMuseo button {
    color: antiquewhite;
    background-color: rgba(10, 49, 84, 0.574);
    border-radius: 5px;
    font-size: 16px;
    border: solid 2px #94e2ec;
  }
  .ItalianoMuseo button:hover {
    color: #94e2ec;
    cursor: pointer;
  }

  .Titre {
    font-family: "Montserrat-Thin", Arial, sans-serif;
    font-size: 40px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
  }
  .MailLink a {
    font-size: 18px;
    color: black;
    font-family: "Montserrat-ThinItalic", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .MailLink a:hover {
    color: rgb(84, 14, 226);
  }

  .FooterEmail {
    color: black;
    font-size: 20px;
  }

  .WorksButton button {
    background: rgb(182, 246, 115);
    color: rgb(190, 38, 240);
    border-radius: 5px;
    border: solid 2px orange;
    font-size: 16px;
  }

  .ImgContainer {
    margin-bottom: 10px;
    max-width: 1200px;
    width: 100%; /* largeur du conteneur */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
  /* .Section {
    width: 80%;
    margin-right: auto;
    margin-left: 20%;
  } */
  .Section img {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 0;
  }

  .Section p {
    font-size: 20px;
    font-family: "Montserrat-Regular", Arial, sans-serif;
    color: black;
    margin-bottom: 1px;
  }

  .Mesure p {
    font-size: 20px;
    font-family: "Montserrat-MediumItalic", Arial, sans-serif;
    color: black;
    margin-top: 1px;
  }

  @media (max-width: 1224px) {
    .Titre {
      font-size: 30px;
    }
    .Section {
      margin-left: 5%;
      margin-right: 5%;
    }
    .Section p {
      font-size: 16px;
    }
  }

  @media (max-width: 508px) {
    .Titre {
      font-size: 20px;
    }
    .Section {
      margin-left: 3px;
      margin-right: 3px;
    }
    .Section p {
      font-size: 12px;
    }
  }
}
