.LangageChoice {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.FrancaisHome button {
  background: black;
  color: white;
  border-radius: 5px;
}
.EnglishHome button {
  background: black;
  color: white;
  border-radius: 5px;
}
.ItalianoHome button {
  background: black;
  color: white;
  border-radius: 5px;
}

.FrancaisHomePage p {
  font-family: "Montserrat-Thin", Arial, sans-serif;
  font-size: 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MailLink a {
  font-size: 18px;
  color: black;
  font-family: "Montserrat-ThinItalic", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.MailLink a:hover {
  color: rgb(84, 14, 226);
}

.WorksButton {
  text-align: center;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.WorksButton button {
  background: rgb(182, 246, 115);
  color: rgb(190, 38, 240);
  border-radius: 5px;
  border: solid 2px orange;
  font-size: 25px;
  margin-top: 10px;
}

.WorksButton a {
  text-decoration: none;
}

.FooterEmail {
  color: black;
  font-size: 20px;
}

@media (max-width: 1224px) {
  .FrancaisHomePage p {
    max-width: 100%;
    margin-left: 8px !important;
    flex-direction: column;
  }
  .MailLink a {
    font-size: 18px !important;
  }
  .WorksButton button {
    font-size: 20px;
  }
}

@media (max-width: 508px) {
  .FrancaisHomePage p {
    font-size: 16px !important;
    max-width: 100%;
    margin-left: 5px !important;
    flex-direction: column;
  }
  .MailLink a {
    font-size: 16px;
  }
  .WorksButton button {
    font-size: 15px;
  }
}
