.LangageChoice {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.FrancaisHome button {
  border-radius: 5px;
  background-color: rgba(10, 49, 84, 0.574);
  color: white;
}

.FrancaisHome button:hover {
  color: #94e2ec;
  cursor: pointer;
}

.EnglishHome button {
  border-radius: 5px;
  background-color: rgba(10, 49, 84, 0.574);
  color: white;
}
.EnglishHome button:hover {
  color: #94e2ec;
  cursor: pointer;
}
.ItalianoHome button {
  border-radius: 5px;
  background-color: rgba(10, 49, 84, 0.574);
  color: white;
}
.ItalianoHome button:hover {
  color: #94e2ec;
  cursor: pointer;
}

.QrCode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.QrCode img {
  margin-top: 20px;
  height: 150px;
  width: auto;
}

.HomePage p {
  font-family: "Montserrat-Thin", Arial, sans-serif;
  font-size: 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MailLink a {
  font-size: 18px;
  color: black;
  font-family: "Montserrat-ThinItalic", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.MailLink a:hover {
  color: rgb(182, 246, 115);
}
.WorksButton {
  text-align: center;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.WorksButton button {
  background: rgb(182, 246, 115);
  color: rgb(190, 38, 240);
  border-radius: 5px;
  border: solid 2px orange;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.WorksButton button:hover {
  cursor: pointer;
  color: rgb(182, 246, 115);
  background: rgb(190, 38, 240);
}

.WorksButton a {
  text-decoration: none;
}

.FooterEmail {
  color: black;
  font-size: 20px;
}

@media (max-width: 1224px) {
  .HomePage p {
    max-width: 100%;
    margin-left: 8px !important;
    flex-direction: column;
  }
  .MailLink a {
    font-size: 18px !important;
  }

  .WorksButton button {
    font-size: 20px;
  }
  .QrCode img {
    margin-top: 20px;
    height: 100px;
    width: auto;
  }
}

@media (max-width: 508px) {
  .HomePage p {
    font-size: 16px !important;
    max-width: 100%;
    margin-left: 5px !important;
    flex-direction: column;
  }
  .MailLink a {
    font-size: 16px;
  }

  .WorksButton button {
    font-size: 15px;
  }
  .QrCode img {
    display: none;
  }
}
